
<div class="fluid-container" ng-controller="wellController as well">

<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
				  <li ><a href="/regions">Regions</a></li>
				  <li ><a href="/regions/{{well.region_id}}/fields">Fields</a></li>
				  <li class="active"> Wells</li>
				</ol>
			</div>
		</div>

<h2 class="text-center">Field {{well.fieldName}}</h2>

<div class="row">


		
    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
    <div>
	<a href="/regions/{{well.region_id}}/fields/{{well.field_id}}/wells/create" class="btn btn-primary">
		<span class="glyphicon glyphicon-plus"></span> 
		New Well
	</a>
	<input class="btn" type="text" ng-model="find" placeholder="Find Well">
	<div class="row">
		
		<div class="col-sm-6 col-md-6" ng-repeat="a in well.wells   | filter : find" ng-show="well.wells.length">
			<div class="thumbnail">
		      <div class="caption" >
		        <h3><strong>{{a.name}}</strong></h3>
		        <p>ID: {{a.id}}</p>
		        <p>Status: {{a.status}}</p>
		        <p>Latitude: {{a.latitude}}</p>
		        <p>Longitude: {{a.longitude}}</p>
		      		<div class="btn-group btn-group-justified">
				<a ng-href="/regions/{{well.region_id}}/fields/{{ a.field_id }}/wells/{{a.id}}/sensors" class="btn btn-default">View</a>
				<a ng-href="/regions/{{well.region_id}}/fields/{{a.field_id}}/wells/edit/{{ a.id }}" class="btn btn-primary">Edit</a>
				<a href="#" ng-click="well.deleteWell(a.id)" class="btn btn-danger">Delete</a>
				
				</div>


		      </div>
		    </div>
		</div>
		<h2 ng-show="!well.wells.length">There are no Wells in this Field</h2>
	</div>



</div>
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
    		<h1>Description</h1>
    	<table class="table table-striped">
		<tbody>
			<tr>
				<td>Wells</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Wells production</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Wells damage</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Wells _______</td>
				<td>x</td>
			</tr>
		</tbody>
	</table>

    </div>


</div>  

</div>
