
<div class="fluid-container" ng-controller="recordController as record">

<div class="row">
			<div class="col-sm-12">
				<ol class="breadcrumb">
				  <li ><a href="/regions">Regions</a></li>
				  <li ><a href="/regions/{{record.region_id}}/fields">Fields</a></li>
				  <li ><a href="/regions/{{record.region_id}}/fields/{{record.field_id}}/wells"> Wells</a></li>
				  <li ><a href="/regions/{{record.region_id}}/fields/{{record.field_id}}/wells/{{record.well_id}}/sensors"> Sensors</a></li>
				  <li class="active"> Records</li>
				</ol>
			</div>
		</div>



<div class="row" >


		
    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
    <div>
	
	<div class="row">
		

		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>Record ID</th>
		        <th>Date</th>
		        <th>Value</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr ng-repeat="a in record.records">
		        <td>{{a.id}}</td>
		        <td>{{a.date}}</td>
		        <td>{{a.value}}</td>
		      </tr>
		     
		    </tbody>
		  </table>


	</div>



</div>
    </div>
    
    <!-- COLUMN TWO NAMED VIEW -->
    <div class="col-sm-6">
    		<h1>Description</h1>
    	<table class="table table-striped">
		<tbody>
			<tr>
				<td>Sensors</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Wells production</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Wells damage</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Wells _______</td>
				<td>x</td>
			</tr>
		</tbody>
	</table>

    </div>


</div>  
</div>